* {
    margin: 0;
    padding: 0;
}

button {
    border: 1px solid black;
    font-size: 24px;
    font-weight: 600;
}

#calculator {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    border: 1px solid black;
    align-items: center;
    width: 400px;
}

.display {
    width: 400px;
    height: 100px;
    background-color: cornflowerblue;
}

.digit {
    width: 100px;
    height: 100px;
    background-color: bisque;
}

.operator {
    width: 100px;
    height: 100px;
    background-color: tomato;
}